<div class="container">
  <div class="content-container">
    <div class="top-container">
      <div class="banner">
        <h1>PORTFOLIO</h1>
        <h2>PORTFOLIO</h2>
        <h3>PORTFOLIO</h3>
        <h4>PORTFOLIO</h4>
        <p class="banner-info">
          <a href="https://github.com/timmyturner126">GitHub</a>
          <span> | </span>
          <a href="https://www.linkedin.com/in/timeea-samoila/">LinkedIn</a>
        </p>
        <div class="picture">
          <%= image_tag "pic.jpg", alt: "My picture", width: 560, height: 725 %>
        </div>
      </div>
      <div class="description-container">
        <p class="description">
          I'm blending business smarts with coding flair. From sales and marketing to full-stack skills, I bring sunshine, creativity and versatility to the table. Ready to code and collaborate!
        </p>
      </div>
    </div>

    <div class="about-container">
      <div class="about">
        <h2>Hello, I'm Timeea!</h2>
        <p>I'm a dynamic Junior Full Stack Web Developer with a keen interest in marketing. As a former Communication Manager for a student association, I excel in engaging audiences and promoting initiatives. I approach coding and marketing with equal passion, infusing creativity into every project. So, what's left, is for us to connect!</p>
        <button class="button-primary" a href="https://www.linkedin.com/in/timeea-samoila/">See LinkedIn</button>
      </div>
      <div class="journey-container">
        <div class="buttons-container">
          <button class="button-secondary" id="show-education-btn">See Education</button>
          <button class="button-secondary" id="show-experience-btn">See Experience</button>
        </div>
        <div class="hidden" id="education">
            <div class="journey-1">
              <p>2023-2024</p>
              <h3>Le Wagon - Web Development Bootcamp</h3>
            </div>
            <div class="journey-2">
              <p>2022-2023</p>
              <h3>Kanagawa University - International Business</h3>
            </div>
            <div class="journey-3">
              <p>2020-2023</p>
              <h3>Lucian Blaga University - Business Administration</h3>
            </div>
        </div>
        <div class="hidden" id="experience">
            <div class="journey-1">
              <p>02/2022 - 09/2022</p>
              <h3>Communication Manager</h3>
              <p>Erasmus Student Network</p>
              <ul>
                <li>Created engaging content for online platforms like social media, while also coordinating traditional marketing efforts such as print materials, event promotions, and direct mail campaigns</li>
                <li>Documented national events and helped students in need</li>
              </ul>
            </div>
            <div class="journey-2">
              <p>03/2022 - 06/2022</p>
              <h3>Administration Intern</h3>
              <p>Matec Cnc Technik</p>
              <ul>
                <li>Learned the attributions, tasks and correlation between multiple departments</li>
                <li>Worked on administration and HR tasks with the people in charge </li>
              </ul>
            </div>
            <div class="journey-3">
              <p>10/2021 - 02/2022</p>
              <h3>Advertising Sales Agent</h3>
              <p>Mobiup Distribution</p>
              <ul>
                <li>Promoted mid-range phone services and products through in-store marketing initiatives, including visual merchandising, product displays and promotional events</li>
                <li>Operations management for the assigned location</li>
              </ul>
            </div>
            <div class="journey-4">
              <p>01/2021 - 09/2021</p>
              <h3>Purchasing Intern</h3>
              <p>Continental Automotive Products SRL</p>
              <ul>
                <li>Assisted the purchasing department with various tasks, including data entry, market research, and registering materials</li>
                <li>Handled the materials registered in the system either from the main manufacturer or from suppliers with SAP</li>
              </ul>
            </div>
        </div>
      </div>
    </div>
    <script>
     document.getElementById('show-education-btn').addEventListener('click', function() {
      document.getElementById('education').classList.add('visible');
      document.getElementById('education').classList.remove('hidden');
      document.getElementById('experience').classList.add('hidden');
      document.getElementById('experience').classList.remove('visible');
    });

    document.getElementById('show-experience-btn').addEventListener('click', function() {
      document.getElementById('education').classList.add('hidden');
      document.getElementById('education').classList.remove('visible');
      document.getElementById('experience').classList.add('visible');
      document.getElementById('experience').classList.remove('hidden');
    });
    </script>

    <div class="cards">
      <h2>My Projects</h2>
        <div class="project-cards">
          <div class="links">
            
          </div>
          <div class="card">
            <h3>ToolBnb</h3>
            <p>Don't we all need sometimes some arts and crafts tools that we will never use again? With ToolBnb, you can rent tools in your area without having to care ever again about storing or buying something you will never use again. Reserve tools or lend them yourself. Reviews later on.</p>
            <h3>Stacks</h3>
              <div class="stacks">
               <%= image_tag "ruby.png", alt: "stack", width: 96, height: 142 %>
               <%= image_tag "Rails.png", alt: "stack", width: 96, height: 142 %>
               <%= image_tag "JS.png", alt: "stack", width: 96, height: 142 %>
               <%= image_tag "sql.png", alt: "stack", width: 96, height: 142 %>
               <%= image_tag "bootstrap.jpg", alt: "stack", width: 96, height: 142 %>
               <%= image_tag "html.png", alt: "stack", width: 96, height: 142 %>
               <%= image_tag "css.png", alt: "stack", width: 96, height: 142 %>
               <%= image_tag "sass.png", alt: "stack", width: 96, height: 142 %>
               <%= image_tag "figma.png", alt: "stack", width: 96, height: 142 %>
               <%= image_tag "vue.png", alt: "stack", width: 96, height: 142 %>
               <%= image_tag "heroku.png", alt: "stack", width: 96, height: 142 %>
               <%= image_tag "git.png", alt: "stack", width: 96, height: 142 %>
              </div>
          </div>
          <div class="card">
            <h3>Furry Friend</h3>
            <p>Imagine charity as a game. Not all pets get the same love at shelters, but we can change that. That's how FurryFriend was born. You adopt a digital pet, that has the same needs as a real one: they need food, healthcare and toys to keep them busy. Everything you buy for your digital pet, goes to your selected shelter.</p>
            <h3>Stacks</h3>
              <div class="stacks">
               <%= image_tag "ruby.png", alt: "stack", width: 96, height: 142 %>
               <%= image_tag "Rails.png", alt: "stack", width: 96, height: 142 %>
               <%= image_tag "JS.png", alt: "stack", width: 96, height: 142 %>
               <%= image_tag "sql.png", alt: "stack", width: 96, height: 142 %>
               <%= image_tag "bootstrap.jpg", alt: "stack", width: 96, height: 142 %>
               <%= image_tag "html.png", alt: "stack", width: 96, height: 142 %>
               <%= image_tag "css.png", alt: "stack", width: 96, height: 142 %>
               <%= image_tag "sass.png", alt: "stack", width: 96, height: 142 %>
               <%= image_tag "figma.png", alt: "stack", width: 96, height: 142 %>
               <%= image_tag "vue.png", alt: "stack", width: 96, height: 142 %>
               <%= image_tag "heroku.png", alt: "stack", width: 96, height: 142 %>
               <%= image_tag "git.png", alt: "stack", width: 96, height: 142 %>
              </div>
          </div>
        </div>
    </div>


    <div class="contact">
      <h2>Contact Me</h2>
      <p>Let's connect and create something amazing together. Whether you have a question or just want to say hi, I'd love to hear from you!</p>
        <div class="contact-container">
          <form action="mailto:timeeasamoila12@gmail.com" method="post" enctype="text/plain">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>
            <label for="message">Message:</label><br>
            <textarea id="message" name="message" required></textarea><br>
            <input type="submit" value="Send" class="button-primary">
          </form>
      </div>
    </div>
  </div>
</div>
